{% extends 'rango/base_bookshelf.html' %}

{% block title_block %}
    Password Changed
{% endblock %}

{% block body_block %}
<h1>Password Changed</h1>

<p>Your password has been successfully changed!</p>
{% endblock %}