{% extends 'rango/base_bookshelf.html' %}

{% block title_block %}
    Change your Password
{% endblock %}

{% block body_block %}
<h1>Change your Password</h1>

<form method="post" action=".">
    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="Change Password" />
</form>
{% endblock %}