{% extends 'rango/base_bookshelf.html' %}

{% block title_block %}
    Registration Closed
{% endblock %}

{% block body_block %}
<h1>Registration Closed</h1>

<p>Unfortunately, registration is currently closed. Please try again later!</p>
{% endblock %}