{% extends 'rango/base.html' %}
{% load static %}
{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}

<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading"><center>Kanshu About Page</center></h1>
        <div class="p-2"></div>
        <h2><center>Visits: {{ visits }}</center></h2>
        <div class="p-2"></div>
        <div>
            <h6><center>Here is the about page. <br /><br />This site is an amateur development by Priyesh Patel.
                <br /><br />Contact me through the
                <strong><a href="{% url 'rango:contact_us' %}">Contact Us</a></strong> page for any requests or suggestions!<br /><br />
                View the picture guide below for how to get started!<br /><br /></h6>
        </div>
    </div>
</div>

<p class="float-right"><a href="#bottom">Go to bottom</a></p>


<div class="p-2"></div>

<!--<button class="btn btn-primary" onclick="alert('You clicked the button using inline JavaScript.');">-->
<!--    Click me - I run on vanilla JavaScript!-->
<!--</button>-->

<!--<button class="btn btn-primary"-->
<!--        id="about-btn">-->
<!--    Click me - I'm using JQuery!-->
<!--</button>-->
<!--<p>This is some text for the JQuery example.</p>-->
<!--<div id="msg">Hello! I'm a further example for JQuery testing.</div>-->

<!--<p>This is some text for the JQuery example.<p>-->

<p><br />This is optional! But I think its a good idea to open the page in Pleco's webapp feature.<br />
    This way you get to use Pleco's features (listen to pronunciation/cross check translations/add to your flashcards.
</p>
<div class="p-2"></div>
<h5>1. </h5>
<img src="{% static 'images/pleco1.jpg' %}" alt="Pleco 1"  width="300" />
<h5>2. </h5>
<img src="{% static 'images/pleco2.jpg' %}" alt="Pleco 2"  width="300" />
<h5>3. </h5>
<img src="{% static 'images/pleco3.jpg' %}" alt="Pleco 3"  width="300" />
<h5>4. </h5>
<img src="{% static 'images/pleco4.jpg' %}" alt="Pleco 4"  width="300" />
<h5>5. </h5>
<img src="{% static 'images/pleco5.jpg' %}" alt="Pleco 5"  width="300" />


<h4><br /><br />Follow the picture guide below to get started with Kanshu reading Hali Pote in Mandarin!</h4>

<h5>1. </h5>
<img src="{% static 'images/p1.jpg' %}" alt="Picture 1"  width="300"/>
<h5>2. </h5>
<img src="{% static 'images/p2.jpg' %}" alt="Picture 2"  width="300" />
<h5>3. </h5>
<img src="{% static 'images/p3.jpg' %}" alt="Picture 3"  width="300" />
<h5>4. </h5>
<img src="{% static 'images/p4.jpg' %}" alt="Picture 4"  width="300" />
<h5>5. </h5>
<img src="{% static 'images/p5.jpg' %}" alt="Picture 5"  width="300" />
<h5>6. </h5>
<img src="{% static 'images/p6.jpg' %}" alt="Picture 6"  width="300" />
<h5>7. </h5>
<img src="{% static 'images/p7.jpg' %}" alt="Picture 7"  width="300" />
<h5>8. </h5>
<img src="{% static 'images/p8.jpg' %}" alt="Picture 8"  width="300" />
<h5>9. </h5>
<img src="{% static 'images/p9.jpg' %}" alt="Picture 9"  width="300" />
<h5>10. </h5>
<img src="{% static 'images/p10.jpg' %}" alt="Picture 10"  width="300" />
<h5>11. </h5>
<img src="{% static 'images/p11.jpg' %}" alt="Picture 11"  width="300" />
<h5>12. </h5>
<img src="{% static 'images/p12.jpg' %}" alt="Picture 12"  width="300" />
<h5>13. </h5>
<img src="{% static 'images/p13.jpg' %}" alt="Picture 13"  width="300" />
<h5>14. </h5>
<img src="{% static 'images/p14.jpg' %}" alt="Picture 14"  width="300" />
<h5>15. </h5>
<img src="{% static 'images/p15.jpg' %}" alt="Picture 15"  width="300" />


<div class="p-2"></div>
<div class="p-2"></div>
<a name="bottom"></a>


{% endblock %}