{% extends 'rango/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %}
    Add a Category
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Add a Category</h1>
        <div class="p-2"></div>
        <h6>Note your category will be public! If it gets a lot of likes it will be featured in the side bar!</h6>
    </div>
</div>
<div class="container">
    <div class="row">
        <form role="form" id="category_form" method="post" action="{% url 'rango:add_category' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <p></p>
            {{ form|crispy }}
            <div class="p-2"></div>
            <input class="btn btn-lg btn-primary" type="submit" value="Add a new category" />
            <div class="p-5"></div>
        </form>
    </div>
</div>



{% endblock %}