<!doctype html>
{% load static %}
{% load rango_template_tags %}
<html lang="en">

<head>


<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

#bookmark_btn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#bookmark_btn:hover {
  background-color: #333;
}
</style>
<style>
    .modal-backdrop {
     background-color: rgba(0,0,0,.0001) !important;
}
</style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A slideshow component for cycling through elements—images or slides of text—like a carousel.">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <meta name="docsearch:language" content="en">
    <meta name="docsearch:version" content="4.3">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>Kanshu Carousel</title>

  <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.0/examples/dashboard/dashboard.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.2/b-colvis-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/r-2.2.5/sc-2.0.2/sp-1.1.1/datatables.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">


    <style type="text/css" class="init"></style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <script type="text/javascript" class="init">



    $(document).ready(function() {
        $('.dataTable').DataTable({
                    pageLength: 500,
                    lengthMenu: [ 100, 200, 500, 1000, 5000, 10000 ],
                    paging: true,
                    searching: true,
                    columnDefs: [
                        { responsivePriority: 1, targets: 0 },
                        { responsivePriority: 10001, targets: 4 },
                        { responsivePriority: 2, targets: -2 }
                    ],
                    dom: 'Blfrtip',
                    buttons: [ 'copy', 'excel', 'print' ]
        });
    } );
    </script>


    <style id="holderjs-style" type="text/css"></style>

</head>

<a name="top"></a>
<body>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<button data-categoryid7="{{ sentence_number }}"
        data-categoryid8="{{ source.slug }}"
        class="btn btn-primary btn-sm"
        type="button"
        id="bookmark_btn" title="bookmark">Bookmark</button>
<script>
//Get the button
var mybutton = document.getElementById("myBtn");
var bkmbutton = document.getElementById("bookmark_btn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
    bkmbutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
    bkmbutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>


<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">This web application has been created by Priyesh Patel. I am currently a CEIBS MBA student based in Shanghai, China, but I am originally from London, UK. My previous career was in automotive engineering, and I have a PhD related to Combustion. My passions are Business, learning Mandarin, Coding and Surfing.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.linkedin.com/in/priyesh-patel-77b77529" class="text-white">Follow on Linkedin</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="mailto:patelpriyesh@hotmail.com" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
      <a href="{% url 'rango:cover' %}" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" class="bi bi-bookshelf" viewBox="0 0 16 16">
          <path d="M2.5 0a.5.5 0 0 1 .5.5V2h10V.5a.5.5 0 0 1 1 0v15a.5.5 0 0 1-1 0V15H3v.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zM3 14h10v-3H3v3zm0-4h10V7H3v3zm0-4h10V3H3v3z"/>
        </svg>

        <strong>Kanshu</strong>
      </a>
        <nav class="navbar navbar-fixed-top navbar-expand-md navbar-light bg-faded">
          <ul class="navbar-nav mr-auto ">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'rango:bookshelf_user' %}">Bookshelf</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'rango:kanshu_dashboard' %}">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'auth_password_change' %}">Change Password</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'registration_register' %}">Register Here</a></li>
            <li class="nav-item "><a class="nav-link" href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}
          </ul>
        </nav>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<div class="container-fluid">
    <div class="row">
<a name="top"></a>
<main role="main" class="col-md-12  ml-sm-auto col-lg-12 px-4">
{% block body_block %}{% endblock %}
                    <!-- FOOTER -->
        <footer class="text-muted py-5">
          <div class="container">
            <p class="float-end mb-1">
              <a href="#top">Back to top</a>
            </p>
            <p class="mb-1">Kanshu &copy; created by Priyesh Patel!</p>
            <p class="mb-0">New to Kanshu? <a href="{% url 'rango:cover' %}">Visit the homepage</a>.</p>
          </div>
        </footer>
</main>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->

        <script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="{% static "js/rango-jquery.js" %}" crossorigin="anonymous"></script>
        <script src="{% static "js/rango-ajax.js" %}" crossorigin="anonymous"></script>
<!--        <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.2/assets/js/vendor/jquery.min.js"><\/script>')</script>-->



</body>
</html>

