{% extends 'rango/base_bookshelf.html' %}
{% load static %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Kanshu Bookshelf Sample</h1>
        <p class="lead text-muted">This will be your bookshelf. You will find some pre-uploaded sample books for you to start with. After creating a profile you can view vocabulary datatables and upload your own content.</p>
        <p>
          <a href="{% url 'rango:contact_us' %}" class="btn btn-secondary my-2">Request a new book</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for title, text, author, picture, words in contents %}

        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ MEDIA_URL }}{{ picture }}"  alt="{{ picture }}"  height="400"/>
            <div class="card-body">
              <p class="card-text">{{text}}</p>
              <p class="card-text">Author: {{author}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="{% url 'registration_register' %}" role="button">Create profile/login to start reading</a>
                </div>
                <small class="text-muted">{{words}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

                <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
              <text font-size="4.5rem" x="50%" y="50%" fill="#eceeef" dy=".3em">+</text></svg>
            <div class="card-body">
              <p class="card-text">Add your own content by clicking here.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Create profile/login to add your own content</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

</html>
