<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Kanshu cover page</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/carousel/carousel.css" rel="stylesheet">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'rango:cover' %}">Kanshu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item "><a class="nav-link" href="{% url 'rango:bookshelf_user' %}">Bookshelf</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'rango:profile' user.username %}">Your Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'auth_password_change' %}">Change Password</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'rango:bookshelf' %}">Bookshelf Sample</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'registration_register' %}">Register Here</a></li>
            <li class="nav-item "><a class="nav-link" href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}
          </ul>
<!--          <form class="form-inline mt-2 mt-md-0">-->
<!--            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--          </form>-->
        </div>
      </nav>
    </header>

    <main role="main">
<a name="top"></a>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Read books not flashcards!</h1>
                <p>Children read books to build up their language skills. Why don't you?!</p>
                <p><a class="btn btn-lg btn-primary" href="#Boring" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Learn Mandarin from your wechat messages!</h1>
                <p>Colleagues communicating in mandarin in Wechat groups all day? Why
                  don't we learn the words they always use!</p>
                <p><a class="btn btn-lg btn-primary" href="#Wechat" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>Focus your Mandarin learning using data!</h1>
                <p>Going to watch a movie? What are the most frequent words to know to watch that movie?</p>
                <p><a class="btn btn-lg btn-primary" href="#Data2" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4"><a name="Content"></a>
            <img class="rounded-circle-lg" src="{% static 'images/txt.jpg' %}" alt="Generic placeholder image" height="140">
            <div class="p-2"></div>
            <h2>Content</h2>
            <div class="p-2"></div>
            <p>Kanshu enables you to read content you care about (books, social media, news, etc) and build your
              Mandarin vocabulary naturally. Seeing vocab within context
              and real sentences will help you use it correctly. Never use flash cards or dull textbooks again! Click the button
              to go to your file upload page (<a href="{% url 'registration_register' %}">Register</a> OR <a href="{% url 'auth_login' %}">Login</a> first).</p>
            <div class="p-2"></div>
            <p><a class="btn btn-primary" href="{% url 'rango:bookshelf' %}" role="button">Go to the bookshelf &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4"><a name="Data"></a>
            <img class="rounded-circle-lg" src="{% static 'images/data.jpg' %}" alt="Generic placeholder image" height="140">
            <div class="p-2"></div>
            <h2>Data</h2>
            <div class="p-2"></div>
            <p>Kanshu analyses your content and creates a downloadable data table. Use data to efficiently learn
              everyday Mandarin vocabulary that actually matters to your own life, age, profession, interests. Click the button
              to see an example for {{ title }} (<a href="{% url 'registration_register' %}">Register</a> OR <a href="{% url 'auth_login' %}">Login</a> first).</p>
            <div class="p-4"></div>
            <p><a class="btn btn-primary" href="{% url 'rango:bookshelf' %}" role="button">Go to the bookshelf &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4"><a name="Display"></a>
            <img class="rounded-circle-lg" src="{% static 'images/display.jpg' %}" alt="Generic placeholder image" height="140">
            <div class="p-2"></div>
            <h2>Display</h2>
            <div class="p-2"></div>
            <p>Kanshu uses AI to cleverly segment sentences into words.
              The words of a sentence are then beautifully, simply and brain pleasingly displayed with
              data. Optimised for phone screen reading, you will have the sensation of reviewing flashcards AND
              reading your content at the same time. Click the button to see an example for {{ title }} (<a href="{% url 'registration_register' %}">Register</a> OR <a href="{% url 'auth_login' %}">Login</a> first).
              </a></p>
            <div class="p-2"></div>
              <p><a class="btn btn-primary" href="{% url 'rango:bookshelf' %}" role="button">Go to the bookshelf &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette"><a name="Boring"></a>
          <div class="col-md-7">
            <h2 class="featurette-heading">Books. Movie Subtitles. Wechat messages.<span class="text-muted"> Any
              mandarin containing .txt file can be Kanshu'd!</span></h2>
            <div class="p-2"></div>
            <p class="lead">Bored and demotivated learning mandarin? Can only suffer flashcards for 10 mins a day?
                  Find the topics of language textbook passages torturous? Not glued to Monkeys Journey to the West
                  as much as you were Harry Potter? AND YET you can spend hours
                  reading social media comments/messages, news apps? What if you could combine
                  your addiction to a particular content (e.g. a book) with your desire to learn Mandarin?. Now you
                  can with Kanshu!<br /><br />

              You yourself feed in the content, Kanshu just provides the platform to help you digest it!</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'images/subs.jpg' %}" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider"><a name="Scary"></a>

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Mandarin sentences and big passages are scary.<span class="text-muted">
              (Well...for us learners and improvers!)</span></h2>
            <div class="p-2"></div>
            <p class="lead">Does all this seem familiar?:
                  <br /><br />"Whats this character?"
                  <br />"Are these 3 characters actually 1 word?"
                  <br />"Agh I lost my place..."
                  <br />"Have i seen this character before?"
                  <br />"It's hard to read/select word/characters on my phone screen..."
                  <br />"That's a new word...is it used frequently enough to bother remembering it now"...
                  <br /><br />Kanshu will solve all these problems!
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'images/masstext.jpg' %}" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette"><a name="Display"></a>
          <div class="col-md-7">
            <h2 class="featurette-heading">Kanshu works in <a href="https://www.pleco.com/">Pleco!</a> <span class="text-muted">Open up the Kanshu webpage
              in Pleco and be amazed!</span></h2>
            <div class="p-2"></div>
            <p class="lead">Every mandarin learner should have <a href="https://www.pleco.com/">Pleco!</a>
              Load up the Kanshu website in <a href="https://www.pleco.com/">Pleco's</a> webreader function and you fill find you can use
              all <a href="https://www.pleco.com/">Pleco's</a> features on top of Kanshu. For example you can listen to a words pronunciation,
              add it to <a href="https://www.pleco.com/">Pleco's</a> flashcard database, and check
              <a href="https://www.pleco.com/">Pleco's</a> additional information provided about the
              word/characters.</p>
          </div>
          <div class="col-md-5">

            <video poster="{% static 'images/pleco3.jpg' %}" class="featurette-image img-fluid mx-auto" autoplay loop controls muted playsinline>
              <source src="{% static 'video/kanshu.mp4' %}" type="video/mp4">
              <source src="{% static 'video/kanshu.ogg' %}" type="video/ogg">
              <source src="{% static 'video/kanshu.webm' %}" type="video/webm">
              Sorry, your browser doesn't support HTML5 video.
            </video>
<!--            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
          </div>
        </div>

        <hr class="featurette-divider">


        <div class="row featurette"><a name="Wechat"></a>
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Analyse your <a href="https://www.wechat.com/en/">Wechat</a> messages.
              <span class="text-muted">Learn vocab people really use today!</span></h2>
            <div class="p-2"></div>
            <p class="lead">Use the <a href="https://www.wechat.com/en/"><b>Wechat desktop app</b></a> and copy paste your mass of mandarin
              wechat messages into a ".txt" file with a file name that begins with "wechat" (you can only copy
              paste one message at a time on the phone app so avoid that). When you upload this file Kanshu will
              analyse the content and recognise the senders name and the senders message. Then you can nicely read it
              in the carousel display mode OR review in your data table!</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'images/Wechat.jpg' %}" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette"><a name="Data2"></a>
          <div class="col-md-7">
            <h2 class="featurette-heading">Data driven learning. <span class="text-muted">This is Mandarin education 2.0++ "</span></h2>
            <div class="p-2"></div>
            <p class="lead">Data and AI is used to enhance everything these days. Yet mandarin vocabulary learning
              remains in the world or classrooms, barely qualified teachers (usual qualification is the ability to
              speak mandarin), boring textbooks that haven't been updated since the 80's (using stories of landline phone
              calls, fax machines, floppy disks...) and self study flashcards. Mandarin teachers often
              lack the ability to understand your world (either technical or social) and it is difficult
              to leave the safety and context of a boring textbook.
              <br /><br />
              Kanshu as a tool and platform aims to resolve this common frustration. AI is used to understand your
              chinese text and tokenise it (break it down to words). From there it is analysed to show the frequency of
              words used, the HSK level, how often you have come across the word (in the carousel display page). Kanshu as
              a platform aims to put more data and stats into your hands to help you focus your learning. Further
              features are on the way!!
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'images/datatable.jpg' %}" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">



        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
            <p class="float-right"><a href="#top" id="back-to-top">Back to top</a></p>
            <p>&copy; 2020 Priyesh's Kanshu App &middot; </p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>
  </body>
</html>
