{% extends 'rango/base_bookshelf_index.html' %}
{% load static %}


{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}


  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">
            {% if user.is_authenticated %}
                Hello {{ user.username }}!
            {% else %}
                Hey Pengyou!
            {% endif %}</h1>
        <p class="lead text-muted">The data in the table below shows the vocabulary you will need to read {{ title }} in Mandarin!
                You can focus on frequent words or HSK words while reading the book. Reading stories or personal
                content is a genius way to build your vocabulary.<br><br>
                Ditch the flash cards! Forget the boring content made by language professionals!<br><br>
                Use what you know will keep you engaged!<p>
        </p>
      </div>
    </div>
  </section>


<p class="float-right"><a href="#bottom">Go to bottom</a></p>

    <div id="work-in-progress">
        <div class="work-spinner"></div>Loading datatable...
    </div>



{% if vocabulary %}
<div id="example_wrapper" class="dataTables_wrapper">
<!--    <div class="dt-buttons">-->
<!--        <button class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="example" type="button"><span>Copy</span></button>-->
<!--        <button class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example" type="button"><span>Excel</span></button>-->
<!--        <button class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example" type="button"><span>CSV</span></button>-->
<!--        <button class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="example" type="button"><span>PDF</span></button> -->
<!--    </div>-->
<!--	<div class="dataTables_length" id="example_length">-->
<!--		<label>Show-->
<!--		<select name="example_length" aria-controls="example" class="">-->
<!--			<option value="10">10</option>-->
<!--			<option value="25">25</option>-->
<!--			<option value="50">50</option>-->
<!--			<option value="100">100</option>-->
<!--		</select> entries-->
<!--		</label>-->
<!--	</div>-->
<!--	<div id="example_filter" class="dataTables_filter">-->
<!--		<label>Search:-->
<!--		<input type="search" class="" placeholder="" aria-controls="example">-->
<!--		</label>-->
<!--	</div>-->
	<table id="example" class="display dataTable responsive" style="width: 100%;" role="grid" aria-describedby="example_info">
		<thead>
			<tr role="row">
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Chinese: activate to sort column ascending" style="width: 64px;">Chinese</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Pinyin: activate to sort column ascending" style="width: 108px;">Pinyin</th>
				<th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="English: activate to sort column descending" style="width: 47px;" aria-sort="ascending">English</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Frequency: activate to sort column ascending" style="width: 21px;">Frequency</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="HSK Level: activate to sort column ascending" style="width: 42px;">HSK Level</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending" style="width: 39px;">Category</th>
			    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Source: activate to sort column ascending" style="width: 39px;">Source</th>

            </tr>
		</thead>
		<tbody>
		{% for vocab in vocabulary %}
		<tr role="row" class="odd">
			<td class="">{{ vocab.chinese }}</td>
			<td class="">{{ vocab.pinyin }}</td>
			<td class="sorting_1">{{ vocab.english }}</td>
			<td>{{ vocab.frequency }}</td>
			<td>{{ vocab.hsk_lvl }}</td>
			<td>{{ vocab.category__name }}</td>
            <td>{{ vocab.source__title }}</td>
		</tr>
		{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th rowspan="1" colspan="1">Chinese</th>
				<th rowspan="1" colspan="1">Pinyin</th>
				<th rowspan="1" colspan="1">English</th>
				<th rowspan="1" colspan="1">Frequency</th>
				<th rowspan="1" colspan="1">HSK Level</th>
				<th rowspan="1" colspan="1">Category</th>
                <th rowspan="1" colspan="1">Source</th>
			</tr>
		</tfoot>
	</table>
<!--	<div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries-->
<!--	</div>-->
<!--&lt;!&ndash;	<div class="dataTables_paginate paging_simple_numbers" id="example_paginate">&ndash;&gt;-->
<!--		<a class="paginate_button previous disabled" aria-controls="example" data-dt-idx="0" tabindex="-1" id="example_previous">Previous</a>-->
<!--		<span>-->
<!--			<a class="paginate_button current" aria-controls="example" data-dt-idx="1" tabindex="0">1</a>-->
<!--			<a class="paginate_button " aria-controls="example" data-dt-idx="2" tabindex="0">2</a>-->
<!--			<a class="paginate_button " aria-controls="example" data-dt-idx="3" tabindex="0">3</a>-->
<!--			<a class="paginate_button " aria-controls="example" data-dt-idx="4" tabindex="0">4</a>-->
<!--			<a class="paginate_button " aria-controls="example" data-dt-idx="5" tabindex="0">5</a>-->
<!--			<a class="paginate_button " aria-controls="example" data-dt-idx="6" tabindex="0">6</a>-->
<!--		</span>-->
<!--		<a class="paginate_button next" aria-controls="example" data-dt-idx="7" tabindex="0" id="example_next">Next</a>-->
<!--	</div>-->
</div>
<p></p>
<p></p>
<nav aria-label="...">
  <ul class="pagination justify-content-center">
        {% if vocabulary.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ vocabulary.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
        {% endif %}

        {% if vocabulary.number|add:'-6' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ vocabulary.number|add:'-6' }}">&hellip;</a></li>
        {% endif %}


        {% for i in vocabulary.paginator.page_range %}
            {% if vocabulary.number == i %}
                <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>

            {% elif i > vocabulary.number|add:'-6' and i < vocabulary.number|add:'6' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if vocabulary.paginator.num_pages > vocabulary.number|add:'6' %}
            <li class="page-item"><a class="page-link" href="?page={{ vocabulary.number|add:'6' }}">&hellip;</a></li>
        {% endif %}


        {% if vocabulary.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ vocabulary.next_page_number }}">Next</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
        {% endif %}
  </ul>

</nav>

{% endif %}
<p></p>





<a name="bottom"></a>
<!--<img src="{% static 'images/HP.jpg' %}" alt="Picture of Harry Potter" />-->
{% endblock %}