{% extends 'rango/base_kanshu_carousel_original.html' %}

{% load static %}

{% block title_block %}

    Kanshu Carousel
{% endblock %}



        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark p-0 text-white">
                <a class="navbar-brand p-2" href="{% url 'rango:cover' %}">Kanshu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'rango:edit' %}">Edit</a></li>
                    </ul>
                </div>
            </nav>
        </header>

{% block body_block %}








  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{ title }}</h1>
          <h6 class="fw-light">Select reading mode</h6>
          <div class="btn-group">
          <a href="{% url 'rango:kanshu_sentence' source.slug %}" class="btn btn-primary" role="button">Book Mode</a>
          <a href="#" class="btn btn-secondary disabled" role="button" aria-disabled="true">Flashcard mode (Active)</a>
          </div>
        <p></p>
        <p></p>
        <p class="lead text-muted">Found Kanshu hasn't recognised a word correctly? Head to the <a href="{% url 'rango:edit' %}"><b>Edit page</b></a> and fix it!</p>
        <p class="lead text-muted">Want more features? <a href="{% url 'rango:contact_us' %}"><b>Contact Us</b></a> with what you want!</p>
      </div>
    </div>
  </section>
<div class="row">
    <div class="col d-flex justify-content-end">
    <p><a href="#bottom">Go to bottom</a></p>
    </div>
</div>



<div class="row">
<div class="col d-flex justify-content-center">
    <form class="form-inline" id="user-form" method="post" action="{% url 'rango:kanshu_carousel' source.slug %}">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Sentence: </span>
                    <input class="form-control" type="text" size="4" name="sentence_number" id="sentence_number" value="{{ sentence_number }}" placeholder=""/>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Go</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
</div>



<script>
    var s ,x, y, btn_dis;
    s = parseInt({{sentence_number}});
    x = s + 5;
    y = s - 5;
    if (s === 1 ) { y = 1; btn_dis = true; };
    x = String(x);
    y = String(y);
</script>

<p></p>
<div class="row">
    <div class="col d-flex justify-content-center">
    <form action="{% url 'rango:kanshu_carousel' source.slug %}" method="post">
        {% csrf_token %}
        <div class="btn-group" role="group" aria-label="prevnext">
        <button class="btn btn-primary" id="prev" type="submit" value="1" name="sentence_number" style="width:100px" >Previous</button>
        <button class="btn btn-primary" id="next" type="submit" value="1" name="sentence_number" style="width:100px">Next</button>
        </div>
    </form>
    </div>
</div>
<p></p>

<script>document.getElementById("prev").value = y </script>
<script>document.getElementById("next").value = x </script>
<script>document.getElementById("prev").disabled = btn_dis </script>



<!-- Wrapper for carousel items -->

{% for result in sides %}
{% csrf_token %}
  <div id="{{ result.chinese }}" class="carousel slide" data-ride="carousel" data-interval="false" data-keyboard="true" data-pause="hover" data-touch="true">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active" >
       <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: First slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#666" fill-opacity="0.9" /></svg>
        <div class="carousel-caption">
                <div>

                 <h1>{{ result.chinese }}</h1>


                </div>
            <p>{{ result.frequency }}</p>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: First slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#666" fill-opacity="0.9" /></svg>
        <div class="carousel-caption">
          <h1 data-id="{{ result.id }}">{{ result.chinese }}</h1>
          <h4>{{ result.pinyin }}</h4>
        </div>
      </div>
      <div class="carousel-item">
       <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: First slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#666" fill-opacity="0.9" /></svg>
        <div class="carousel-caption">
        <button data-categoryid1="{{ result.chinese }}"
                data-categoryid2="{{ result.pinyin }}"
                data-categoryid3="{{ result.english }}"
                data-categoryid4="{{ source.slug }}"
                id="add2dict_btn"
                type="button"
                class="btn btn-outline-primary">
            <h1 title="click to add to dict">{{ result.chinese }}</h1>
        </button>

          <h4>{{ result.pinyin }}</h4>
          <p>{{ result.english }}</p>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#{{ result.chinese }}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{ result.chinese }}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <p> </p>
{% endfor %}


<script>
    var a ,b, c, btn_dis;
    a = parseInt({{adjust}});
    b = a + 5;
    c = a - 5;
<!--    if (a === 1 ) { c = 1; btn_dis = true; };-->
    b = String(b);
    c = String(c);
</script>

<div class="row">
    <div class="col d-flex justify-content-center">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Show english translation!
    </button>
    </div>
</div>
<p></p>

<div class="row">
    <div class="collapse" id="collapseExample">
    <div class="card bg-light border-dark mb-3">
    <div class="card-body text-dark">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div>
                    <form class="form-inline" id="user-form2" method="post" action="{% url 'rango:mother_text_helper' source.slug %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                            <input class="form-control" type="text" size="4" name="adjust" id="adjust" value="{{ adjust }}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Adjust</button>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div>
                    <form action="{% url 'rango:mother_text_helper' source.slug %}" method="post">
                        {% csrf_token %}
                        <div class="btn-group" role="group" aria-label="adjprevnext">
                            <button class="btn btn-primary" id="adjust-5" type="submit" value="5" name="adjust" style="width:100px">-5</button>
                            <button class="btn btn-primary" id="adjust+5" type="submit" value="5" name="adjust" style="width:100px">+5</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <p></p>
        <div class="row">
            <div class="card-body text-dark">
            {% for sentence in mother_text %}
                <p class="card-text">{{ sentence.number }}: &nbsp;&nbsp;  {{ sentence.mother }}</p>
            {% endfor %}
            </div>
        </div>

    </div>
    </div>
    </div>
</div>

<p></p>

<div class="row">
    <div class="col d-flex justify-content-center">
    <form action="{% url 'rango:kanshu_carousel' source.slug %}" method="post">
        {% csrf_token %}
        <div class="btn-group" role="group" aria-label="prevnext">
        <button class="btn btn-primary" id="prev2" type="submit" value="1" name="sentence_number" style="width:100px" >Previous</button>
        <button class="btn btn-primary" id="next2" type="submit" value="1" name="sentence_number" style="width:100px">Next</button>
        </div>
    </form>
    </div>
</div>

<p></p>

<script>document.getElementById("adjust-5").value = c </script>
<script>document.getElementById("adjust+5").value = b </script>
<!--<script>document.getElementById("adjust-5").disabled = btn_dis </script>-->

<script>document.getElementById("prev2").value = y </script>
<script>document.getElementById("next2").value = x </script>
<script>document.getElementById("prev2").disabled = btn_dis </script>

        <div class="toast">
          <div class="toast-header">
            Toast Header
          </div>
          <div class="toast-body">
            Some text inside the toast body
          </div>
        </div>

<a name="bottom"></a>

{% endblock %}
