{% extends 'rango/base_kanshu_carousel.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %}
    Personal Kanshu
{% endblock %}

{% block body_block %}

<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading"><center>Personal Kanshu Index Page</center></h1>
        <div class="p-2"></div>
        <h6><center>Select from your uploaded files using the dropdown button below to begin the carousel view</center></h6>
        <div class="p-2"></div>
    </div>
</div>

<div class="card">
    <div class="card-body">
    <div class="col d-flex justify-content-center">
        <div class="dropdown">
          <button class="btn btn-lg btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Select a source file and go to carousel mode!
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for source in sources %}
                  <a class="dropdown-item" href="{% url 'rango:personal_kanshu_source' source.slug %}">{{ source }}</a>
              {% endfor %}
          </div>
        </div>
    </div>
    </div>
</div>



<div class="list-group">
  {% for source in sources %}
      <a class="list-group-item list-group-item-action" href="{% url 'rango:personal_kanshu_source' source.slug %}">{{ source }}</a>
  {% endfor %}
</div>
<div class="p-2"></div>
<div class="p-2"></div>
<div class="card">
    <div class="card-body">
        <h4 class="text white"><center>OR upload a document that you want Kanshu'd!</center></h4>
        <div class="p-2"></div>
        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <center>
                <div class="row">
                <div class="col d-flex justify-content-center">
                    {{ form|crispy }}
                </div>
                </div>
                <div class="row">
                <div class="col d-flex justify-content-center">
                    <input class="btn btn-lg btn-block btn-success" type="submit" value="Upload your file" />
                </div>
                </div>
                </div>
            </center>
        </form>
    </div>
</div>



<div class="p-2"></div>

<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading"><center>Personal index table</center></h1>
        <h6><center>See some stats on your personal vocab below!</center></h6>
    </div>
</div>



{% if uservocabulary %}
<div id="example_wrapper" class="dataTables_wrapper">
	<table id="example" class="display dataTable responsive" style="width: 100%;" role="grid" aria-describedby="example_info">
		<thead>
			<tr role="row">
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Chinese: activate to sort column ascending" style="width: 64px;">Chinese</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Pinyin: activate to sort column ascending" style="width: 108px;">Pinyin</th>
				<th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="English: activate to sort column descending" style="width: 47px;" aria-sort="ascending">English</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Frequency: activate to sort column ascending" style="width: 21px;">Frequency</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="HSK Level: activate to sort column ascending" style="width: 42px;">HSK Level</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending" style="width: 39px;">Category</th>
			    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Sources: activate to sort column ascending" style="width: 39px;">Sources</th>
            </tr>
		</thead>
		<tbody>
		{% for vocab in uservocabulary %}
		<tr role="row" class="odd">
			<td class="">{{ vocab.chinese }}</td>
			<td class="">{{ vocab.pinyin }}</td>
			<td class="sorting_1">{{ vocab.english }}</td>
			<td>{{ vocab.frequency }}</td>
			<td>{{ vocab.hsk_lvl }}</td>
			<td>{{ vocab.category__name }}</td>
            <td>{{ vocab.sources__title }}</td>
		</tr>
		{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th rowspan="1" colspan="1">Chinese</th>
				<th rowspan="1" colspan="1">Pinyin</th>
				<th rowspan="1" colspan="1">English</th>
				<th rowspan="1" colspan="1">Frequency</th>
				<th rowspan="1" colspan="1">HSK Level</th>
				<th rowspan="1" colspan="1">Category</th>
                <th rowspan="1" colspan="1">Sources</th>
			</tr>
		</tfoot>
	</table>
</div>

<div class="p-2"></div>

<nav aria-label="...">
  <ul class="pagination justify-content-center">
        {% if uservocabulary.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ uservocabulary.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
        {% endif %}

        {% if uservocabulary.number|add:'-6' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ uservocabulary.number|add:'-6' }}">&hellip;</a></li>
        {% endif %}


        {% for i in uservocabulary.paginator.page_range %}
            {% if uservocabulary.number == i %}
                <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>

            {% elif i > uservocabulary.number|add:'-6' and i < uservocabulary.number|add:'6' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if uservocabulary.paginator.num_pages > uservocabulary.number|add:'6' %}
            <li class="page-item"><a class="page-link" href="?page={{ uservocabulary.number|add:'6' }}">&hellip;</a></li>
        {% endif %}


        {% if uservocabulary.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ uservocabulary.next_page_number }}">Next</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
        {% endif %}
  </ul>
</nav>
{% endif %}
<div class="p-2"></div>
<a name="bottom"></a>
{% endblock %}
