{% extends 'rango/base_bookshelf_index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %}
    Personal Kanshu
{% endblock %}

{% block body_block %}


  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Personal Kanshu Delete Page</h1>
        <p class="lead text-muted">Select your uploaded files to delete.</p>
        <p class="lead text-muted">Something broken or have a special request?</p>
          <a href="{% url 'rango:contact_us' %}" class="btn btn-secondary my-2">Contact us!</a>
      </div>
    </div>
  </section>


<div class="p-2"></div>
<div class="card">
    <div class="card-body">
    <div class="col justify-content-center">
        {% if sources %}
        <div class="list-group">
          {% for source in sources %}
              <a class="list-group-item list-group-item-action text-primary" href="{% url 'rango:personal_kanshu_source_delete' source.slug %}">{{ source }}</a>
          {% endfor %}
              <a class="list-group-item list-group-item-action text-primary" href="{% url 'rango:personal_kanshu_index' %}">RETURN TO INDEX PAGE</a>
        </div>
        {% else %}
           You have not uploaded any files yet. Your files will be displayed here.
        <div class="p-2"></div>
        <div class="list-group">
            <a class="list-group-item list-group-item-action text-primary" href="{% url 'rango:personal_kanshu_index' %}">Return to your personal Kanshu bookshelf.</a>
        </div>
        {% endif %}
    </div>
    </div>
</div>
<div class="p-2"></div>
<div class="p-2"></div>
{% endblock %}