{% extends 'rango/base.html' %}
{% load static %}
{% block title_block %}
Sentence page
{% endblock %}

{%block body_block%}

<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading"><center>看Harry Potter!</center></h1>
        <div>
            <h2 class="h2"><center>
                {% if user.is_authenticated %}
                Howdy {{ user.username }}!
                {% else %}
                Hey there partner!
                {% endif %}
            </center></h2>
            <strong><center>Is your mandarin strong enough to read Harry Potter unaided?</center></strong>
            <p><br><center>If yes then start reading below! If not why not register/make an accound and try the Kanshu carousel
                page for assisted reading!</center></p>
        </div>
    </div>
</div>

<p class="float-right"><a href="#bottom">Go to bottom</a></p>
{% if sentences %}

    {% if sentences.has_other_pages %}

    <div id="example_wrapper" class="dataTables_wrapper">
        <table id="example" class="display dataTable" style="width: 100%;" role="grid" aria-describedby="example_info">
            <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                    aria-label="#: activate to sort column ascending" style="width: 10px;">#</th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                    aria-label="Start: activate to sort column ascending" style="width: 64px;">Sentence</th>
            </tr>
            </thead>
            <tbody>
            {% for sentence in sentences %}
            <tr role="row" class="odd">
                <td class="">{{ sentence.number }}</td>
                <td class=""><h5>{{ sentence.chinese }}</h5><br>
                    {{ sentence.pinyin }}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th rowspan="1" colspan="1">#</th>
                <th rowspan="1" colspan="1"><a href="#top" id="back-to-top">Back to top</a><a name="bottom"></a></th>
            </tr>
            </tfoot>
        </table>
        <!--	<div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries-->
<!--	</div>-->
<!--&lt;!&ndash;	<div class="dataTables_paginate paging_simple_numbers" id="example_paginate">&ndash;&gt;-->
<!--		<a class="paginate_button previous disabled" aria-controls="example" data-dt-idx="0" tabindex="-1" id="example_previous">Previous</a>-->
<!--		<span>-->
<!--			<a class="paginate_button current" aria-controls="example" data-dt-idx="1" tabindex="0">1</a>-->
<!--			<a class="paginate_button " aria-controls="example" data-dt-idx="2" tabindex="0">2</a>-->
<!--			<a class="paginate_button " aria-controls="example" data-dt-idx="3" tabindex="0">3</a>-->
<!--			<a class="paginate_button " aria-controls="example" data-dt-idx="4" tabindex="0">4</a>-->
<!--			<a class="paginate_button " aria-controls="example" data-dt-idx="5" tabindex="0">5</a>-->
<!--			<a class="paginate_button " aria-controls="example" data-dt-idx="6" tabindex="0">6</a>-->
<!--		</span>-->
<!--		<a class="paginate_button next" aria-controls="example" data-dt-idx="7" tabindex="0" id="example_next">Next</a>-->
<!--	</div>-->
    </div>

<p></p>

<nav aria-label="...">
  <ul class="pagination justify-content-center">
        {% if sentences.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ sentences.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
        {% endif %}

        {% if sentences.number|add:'-6' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ sentences.number|add:'-6' }}">&hellip;</a></li>
        {% endif %}


        {% for i in sentences.paginator.page_range %}
            {% if sentences.number == i %}
                <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>

            {% elif i > sentences.number|add:'-6' and i < sentences.number|add:'5' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if sentences.paginator.num_pages > sentences.number|add:'5' %}
            <li class="page-item"><a class="page-link" href="?page={{ sentences.number|add:'5' }}">&hellip;</a></li>
        {% endif %}


        {% if sentences.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ sentences.next_page_number }}">Next</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
        {% endif %}
  </ul>
</nav>
<p></p>
<p></p>


    {% endif %}

{% else %}
    No sentences exist.
{% endif %}
<a name="bottom"></a>
{% endblock %}




