{% load static %}
<div id="sentence_data">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Sentence Examples</h1>
    </div>
{% if sentence_w_word %}




    <div class="row">
        <div class="col d-flex justify-content-center">
            <div id="pinyin_btn" class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
              <label class="form-check-label" for="flexSwitchCheckChecked">Toggle assisted reading</label>
            </div>
        </div>
    </div>



<ul>
    {% for dictionary in side_word_lists.items %}
        <li>
            {% for sides in dictionary %}
                <div class="d-flex flex-wrap text-center">
                    {% for result in sides %}
                           <a role="button" tabindex="0" data-trigger="focus" data-container="body" title="Frequency: {{ result.frequency }}"  data-placement="top" data-toggle="popover" data-content="{{ result.pinyin }} <br /> {{ result.english}}"> <h5 class="no-segment" data-id="{{ result.chinese }}" style="letter-spacing: 4px">{{ result.chinese}} </h5></a>
                    {% endfor %}
                </div>

                <div class="d-flex flex-wrap text-center">
                    {% for result in sides %}
                    <ol>
                        <h4 class="segment" data-id="{{ result.chinese }}" style="letter-spacing: 4px">{{ result.chinese }}</h4>
                        <p class="pinyin">{{ result.pinyin }}</p>
                        <p class="eng eng{{ result.chinese }}">{{ result.english }}</p>
                    </ol>
                    <div class="modal modal{{ result.chinese }}" id="myModal">
                      <div class="modal-dialog">
                        <div class="modal-content">
                              <!-- Modal Header -->
                              <div class="modal-header">
                                <h4 class="modal-title">Add {{ result.chinese }} to dictionary</h4>
                              </div>
                              <!-- Modal body -->
                              <div class="modal-body">
                                <button data-categoryid1="{{ result.chinese }}" data-categoryid2="{{ result.pinyin }}" data-categoryid3="{{ result.english }}"
                                data-categoryid4="{{ source }}" id="add2dict_btn" type="button" class="btn btn-outline-primary">Add to dictionary</button>
                              </div>
                              <!-- Modal footer -->
                              <div class="modal-footer">

                              </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </li>
    {% endfor %}
<ul>


{% else %}
        <p>Click on word in your dictionary to display sentence examples here...</p>
{% endif %}
</div>

<script>
$('button[data-categoryid1]').on('click',
function() {
var chineseIdVar;
chineseIdVar = $(this).attr('data-categoryid1');
pinyinIdVar = $(this).attr('data-categoryid2');
englishIdVar = $(this).attr('data-categoryid3');
sourceIdVar = $(this).attr('data-categoryid4');
$.get(
'/rango/add_word2dict/', {'chinese': chineseIdVar, 'pinyin': pinyinIdVar,'english': englishIdVar, 'source_title_slug': sourceIdVar}, function(data) {
$('#add2dict_num').html(data);
$('#add2dict_btn').hide();
window.location.reload();
})
});



</script>